/* About CSS file */
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/PoiretOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'CustomeNameFont';
    src: url('../fonts/Sacramento-Regular.ttf') format('truetype');
}
body {
    font-family: 'CustomFont', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000;
    padding-bottom: 100px; /* Add padding to make space for the footer */
}
header {
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    color: #000000;
    padding: 50px;
    top:0;
    width:100%;
    box-sizing: border-box;
}
h1{
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    margin-top: 200px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.logo{
    margin-right: auto;
}
.links{
    display:flex;
    justify-content: flex-end;
    margin-right: 20px;
}
nav a {
    margin-left:20px;
    text-decoration: none;
    color:#000000;
}
nav a:hover{
    color:#923754;
}
.description p {
    margin-bottom: 10px;
    font-size: 22px; /* Adjust the font size for the description paragraphs */
}
.name {
    font-family: 'CustomNameFont'; /* Apply the custom font */
    font-weight: bold; /* Optionally make the name bold */
    font-size: 18px; /* Adjust the font size for the name */
}

.regular-text {
    font-family: 'CustomFont'; /* Apply the regular font */
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.photo, .description{
    flex: 1 1 45%;
    padding: 10px;
    box-sizing: border-box;
}
.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.description p{
    font-style:italic;
    color:#123C69;
}
.description p a{
    color: #5D001E;
}
.description p a:hover{
    color:#923754;
    text-decoration: underline;
}
.row:nth-child(even) .photo{
    order: 2;
}
.row:nth-child(even) .description{
    order: 1;
}
/* Footer */
footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 10px; /* Space between image and text */
}
footer ul li{
    margin: 0 1.25%;
}
footer ul a {
    text-decoration: none;
    color: #5D001E;
}
footer ul a:hover {
    text-decoration: underline;
    color: #923754;
}
@media (max-width: 768px){
    .row{
        flex-direction: column;
    }
    .row:nth-child(even){
        flex-direction: column;
    }
    .photo, .description{
        order: initial;
        flex: 1 1 100%;
    }
}