@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/PoiretOne-Regular.ttf') format('truetype');
}
body {
    font-family: 'CustomFont', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
footer {
    margin-top: auto;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}
.left-image {
    float: left;
    margin-right: 20px; /* Adjust as needed */
}
header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}
h1{
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-right: auto;
}
.links{
    display:flex;
    justify-content: flex-end;
}
nav a {
    margin-left:20px;
    text-decoration: none;
    color:#000000;
}
.star{
    color:transparent;
}
.star.filled {
    background-image: url('../HTML/reviewarticles/img/star-fill.svg'); /* Path to your SVG file for filled stars */
}

.star.half-filled {
    background-image: url('../HTML/reviewarticles/img/star-half.svg'); /* Path to your SVG file for half-filled stars */
}
.star.not-filled{
    background-image: url('../HTML/reviewarticles/img/star.svg');
}
a.directions-button img {
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto; /* Center the image button */
}
p {
    font-size: 30px; /* Increase the font size for paragraph text */
}