@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/PoiretOne-Regular.ttf') format('truetype');
}
body {
    font-family: 'CustomFont', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
footer {
    margin-top: auto;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}
.left-image {
    float: left;
    margin-right: 20px; /* Adjust as needed */
}
header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}
h1{
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-right: auto;
}
.links{
    display:flex;
    justify-content: flex-end;
}
nav a {
    margin-left:20px;
    text-decoration: none;
    color:#000000;
}
.star-rating{
    font-size: 24px;
}
.star{
    color:gold;
}
.star.filled{
    color: black;
}
.star.half-filled {
    position: relative;
    color: black; /* Color of the half-filled star */
    overflow: hidden;
}

.star.half-filled::before {
    content: '\2605'; /* Unicode character for a full star */
    position: absolute;
    left: 0;
    overflow: hidden;
    color: gold; /* Color of the half-filled portion */
}