/* Contact CSS file */
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/PoiretOne-Regular.ttf') format('truetype');
}
body {
    font-family: 'CustomFont', serif;
    margin: 0;
    font-size: 100%;
    padding: 0;
    background-color: #ffffff;
     color: #000;
    min-height: 100vh;
    position: relative;
}
header {
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    color: #000000;
    padding: 50px;
    top:0;
    width:100%;
    box-sizing: border-box;
}
h1{
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    margin-top: 200px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.logo{
    margin-right: auto;
}
.links{
    display:flex;
    justify-content: flex-end;
    margin-right: 20px;
}
nav a {
    margin-left:20px;
    text-decoration: none;
    color:#000000;
}
/*.container{
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}*/
h1 {
    text-align: center;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
/*.profile {
    width: 45%; 
    text-align: center;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 160px 320px rbga(0,0,0,0);
    margin-bottom:  20px;
}*/
/*.profile img {
    max-width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}
.profile h2 {
    margin-bottom: 5px;
    color: #5D001E; /*NOT SURE WHAT COLOR WE WANT HERE!!
}
.profile p {
    margin: 0;
}*/
a{
    text-decoration:none;
    color: #5D001E;
}
footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-width: 10px;
}
footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 10px; /* Space between image and text */
}
footer ul li{
    margin: 0 1.25%;
}
footer ul a {
    text-decoration: none;
    color: #5D001E;
}
footer ul a:hover {
    text-decoration: underline;
    color: #923754;
}
.container {
    margin:auto;
    max-width: 400px;
    border-radius: 4px;
    background-image: url("opt4.jpg");
    padding: 20px
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #5d001d8f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5D001E;
}

