/* Review CSS file */
@font-face {
    font-family: 'CustomFont';
    src: url('../../font/MarineParadeDemoRegular.ttf') format('truetype');
}
body {
    font-family: 'CustomFont', serif;
    margin: 0;
    padding: 0;
    background-color: #E3E2DF;
}
header {
    background-color: #E3AFBC;
    color: #5D001E;
    padding: 20px;
    text-align: center;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.review {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
.review h2 {
    margin-top: 0;
}
.review p {
    margin-bottom: 0;
}
.review a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.review img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
/* Footer */
footer {
    background-color: #E3AFBC;
    color: #5D001E;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-color: #5D001E;
    border-width: 10px;
}