@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/PoiretOne-Regular.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    /* deciding on font */
    font-family: 'CustomFont', serif; 
    box-sizing: border-box;
}
body{
    background: white;
    color: black;
}
/* Header */
#header{
    width: 100%;
    height: 90vh;
    background-image: URL(../HTML/homepage/img/sea3.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.header-text{
    color: white;
    margin-top: 10%;
    width: 100%;
}
.header-text h1{
    margin-top: 20px;
    font-size: 80px;
}
.btn{
    position: absolute;
    margin-top: 10%;;
    margin-left: 4%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
h2 {
    border-bottom: none; /* Remove the bottom border */
}
/* review carousel */
/* scroll*/
.scrollable{
    height: 500px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
}
.carousel-container {
    position: relative;
    width: 90%;
    overflow-x: hidden; 
    overflow-y: auto;
    overflow: hidden;
    max-width: 900px;
    margin: 0 auto;
    max-height: 400px; /* Set a max height for the carousel container */
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.carousel{
    display: flex;
    transition: transform 0.5s ease;
    background-color: white;
    padding: 20px;
}
.carousel-item{
    flex: 0 0 100%;
    background-color: #f5ede7;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    min-width: 100%;
    display: flex;
}
.carousel-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor:  pointer;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}
.carousel-button.prev{
    left: 10px;
}
.carousel-button.next{
    right: 10px;
}
.carousel-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.carousel-item img{
    margin-right: 20px;
}
.review-text{
    flex: 1;
    color: black;
}
/* Footer */
footer {
    background-color: #ffffff;
    color: #5D001E;
    /*position: fixed;*/
    bottom:0;
    left:0;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin:0;
    margin-top: auto;
    box-sizing: border-box;
    border-width: 10px;
}
footer ul{
    display: flex;
    justify-content: center;
    margin-bottom:10px; /*Space between image and text*/
}
footer ul a{
    margin: 0  1.25%;
    text-decoration: none;
    color: #5D001E;
    }
footer ul a:hover{
    text-decoration: underline;
    color: #923754
}
.prev{
    left:10px;
}
.next{
    right:10px;
}